<h1> <%= @user.name %> </h1>

<% @user.recipes.each do |recipe| %>
  <ul>
    <li> <%=recipe.name  %>  </li>
  </ul>
<% end %>

<br>
<%= button_to('Destroy This User', users_path, method: "delete")%>
