<h1>All The Ingredients</h1>


  <% @ingredients.each do |ingredient| %>
    <ul>
      <li><%=link_to ingredient.name, ingredient_path(ingredient) %></li>
      <li> Number of Users Allergic: <%= ingredient.users_allergic %> </li>
    </ul>
  <% end %>
